*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html , body{
    font-size: 10px;
}

body{
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: cursive;
    background-color: black;
}
.container{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    padding: 4rem 0;
    display: grid;
    place-items: center;
    color: white;
} 

.container .topcontent{
    width: 100%;
    max-width: 80rem;
    position: relative;
    z-index: 50;
}

p{
    font-size: 1.7rem;
    line-height: 2.4rem;
    padding-bottom: 1.5rem;
    font-family: sans-serif;
}

h2 , h3{
    font-size: 4.5rem;
    padding-bottom: 2.5rem;
    text-transform: uppercase;
    text-shadow: 0 0 10px #ff155f;
}

.imagewrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 7rem 2rem; */
    gap: 10%;
    flex-wrap: wrap;
    padding-top: 4.5rem;
}

.imagewrapper .imagebox{
    width: 280px;
    height: 350px;
    overflow: hidden;
    /* border-radius: 1rem 5rem;9 */
    border-radius: 20% 2%;
    border: 10px solid #fff;
    transform: scale(0.85);
    box-shadow: 0 0 25px -10px #ff155f,
                0 0 20px #ff155f inset;

    animation: imgani 1.5s linear infinite alternate;
    animation-delay: calc(0.5s*var(--i));
}

@keyframes imgani {
    100%{
        transform: scale(1);
        filter: grayscale(1);
    }
    
}


.imagewrapper .imagebox img{
    width: 105%;
    height: 105%;
    object-fit: cover;
}

.heartwrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.heartwrapper i{
    font-size: 15rem;
    color: #f90b57;
    text-shadow: 0 0 10rem #f90b57;
    display: inline-block;
    position: absolute;
    transform: scale(0.85);
    animation: heartanim 4s linear infinite;
    animation-delay: calc(0.5s*var(--j));
}

@keyframes heartanim {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        bottom: 100%;
    }
    
}


.heartwrapper i:nth-child(21){
    bottom: -10%;
    left: 2%;
}
.heartwrapper i:nth-child(22){
    bottom: -5%;
    left: 10%;
}
.heartwrapper i:nth-child(23){
    bottom: -10%;
    left: 2%;
}
.heartwrapper i:nth-child(1){
    bottom: -100%;
    left: 2%;
}
.heartwrapper i:nth-child(2){
    bottom: -15%;
    left: 10%;
}
.heartwrapper i:nth-child(3){
    bottom: -10%;
    left: 2%;
}
.heartwrapper i:nth-child(4){
    bottom: -150%;
    left: 20%;
}
.heartwrapper i:nth-child(5){
    bottom: -80%;
    left: 25%;
}
.heartwrapper i:nth-child(6){
    bottom: -70%;
    left: 35%;
}
.heartwrapper i:nth-child(7){
    bottom: 0%;
    left: 45%;
}
.heartwrapper i:nth-child(8){
    bottom: -10%;
    left: 55%;
}
.heartwrapper i:nth-child(9){
    bottom: -50%;
    left: 10%;
}
.heartwrapper i:nth-child(10){
    bottom: 0%;
    right: 15%;
}


.heartwrapper i:nth-child(11){
    bottom: -100%;
    right: 2%;
}
.heartwrapper i:nth-child(12){
    bottom: -15%;
    right: 10%;
}
.heartwrapper i:nth-child(13){
    bottom: -10%;
    right: 2%;
}
.heartwrapper i:nth-child(14){
    bottom: -150%;
    right: 20%;
}
.heartwrapper i:nth-child(15){
    bottom: -80%;
    right: 25%;
}
.heartwrapper i:nth-child(16){
    bottom: -70%;
    right: 35%;
}
.heartwrapper i:nth-child(17){
    bottom: 200%;
    right: 5%;
}
.heartwrapper i:nth-child(18){
    bottom: -10%;
    right: 25%;
}
.heartwrapper i:nth-child(19){
    bottom: -50%;
    right: 20%;
}
.heartwrapper i:nth-child(20){
    bottom: 0%;
    right: 65%;
}


@media (max-width: 768px) {
    html , body{
        font-size: 8px;
    }
}